<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
 

 <%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<!--<%= @user %>-->

<div class="field">
<%= f.hidden_field :user_id, :value => @user %>
</div>

<!--
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
-->
  <div class="field">
   <%= collection_select :student, :firstname, Mstudent.all, :fullname, :fullname, :prompt => "Select name" %>
  </div>

<div class="field">
  <%= collection_select :student, :intervention_type, Intervention.all, :intervention, :intervention, :prompt => "Select an intervention" %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<!--
<select>
<% @interventions.each do |intervention| %>
<option value="<%= intervention.intervention %>"><%= intervention.intervention %></option>
<% end %>

</select> 




<!--
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Intervention</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interventions.each do |intervention| %>
      <tr>
        <td><%= intervention.sfname %></td>
        <td><%= intervention.slname %></td>
        <td><%= intervention.intervention %></td>
        <td><%= link_to 'Show', intervention %></td>
        <td><%= link_to 'Edit', edit_intervention_path(intervention) %></td>
        <td><%= link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->