<!--
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
 -->

 <%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<!--<%= @user %>-->
<div class="field">
<%= f.hidden_field :user_id, :value => @user %>
</div>

  <div class="field">
    <%= f.label :fullname %><br>
   <%= collection_select :student, :firstname, Mstudent.all, :fullname, :fullname, :prompt => "Select name" %>
  </div>

   <div class="field">
    <%= f.label :behavior %>
   <%= collection_select :student, :behive, Behavior.all, :behavior, :behavior, :prompt => "Select behavior" %>
  </div>

<div class="field">
  <%= f.label :intervention %><br>
  <%= collection_select :student, :intervention_type, Intervention.all, :intervention, :intervention, :prompt => "Select an intervention" %>
</div>

<div class="field">
<%= f.label :comment %><br>
<%= f.text_field :comment %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

