<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>User Id </th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students2.each do |student| %>
      <tr>
        <td><%= student.user_id %> </td>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
