<h1>Tracker</h1>


<% @students.each do |student| %>
<div class="status">
  <p><strong> <%= student.firstname %></strong></p>
  
  <p> Intervention: 
    <%= student.intervention_type %>
  </p>

  <div class="meta">
  <%= time_ago_in_words(student.created_at) %>
  <span class="admin">
  <%= link_to 'Show', student %>
  <%= link_to 'Edit', edit_student_path(student) %>
  <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
</div>
</div>
  <% end %>


<!--
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.user_id %> </td>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
-->

<br>
<%= link_to 'Track something new', new_student_path %>
