<!--<h1>Tracker</h1>-->


<% @students.each do |student| %>
<div class="status">
  <p><strong> <%= student.firstname %>  </strong></p>
  <p>  <font style="background-color:#69D2E7"><i class="fa fa-meh-o"></i> <%= student.behive %></font> | <i><font style="background-color:#F38630"><i class="fa fa-check-square"></i> <%= student.intervention_type %></i></font> </p>
  <div class="meta">
  <%= time_ago_in_words(student.created_at) %>
  <span class="admin">
  <%= link_to 'View', student %>
  <%= link_to 'Edit', edit_student_path(student) %>
  <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
</div>
</div>
  <% end %>


<!--
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.user_id %> </td>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
-->

<br>
<i class="fa fa-thumb-tack"></i> <%= link_to 'Track something new', new_student_path %>
<br>
<center>
<%= will_paginate @students %>
</center>