<p id="notice"><%= notice %></p>

<p>
  <strong>Behavior:</strong>
  <%= @behavior.behavior %>
</p>

<p>
  <strong>Intervention:</strong>
  <%= @behavior.intervention %>
</p>

<p>
  <strong>Consequence:</strong>
  <%= @behavior.consequence %>
</p>

<%= link_to 'Edit', edit_behavior_path(@behavior) %> |
<%= link_to 'Back', behaviors_path %>
