<%= form_for(@mstudent) do |f| %>
  <% if @mstudent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mstudent.errors.count, "error") %> prohibited this mstudent from being saved:</h2>

      <ul>
      <% @mstudent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First %><br>
    <%= f.text_field :fname, :maxlength => 30 %>
  </div>
  <div class="field">
    <%= f.label :Last %><br>
    <%= f.text_field :lname, :maxlength => 30 %>
  </div>
  <div class="actions">
    <%= f.submit "Create Student" %>
  </div>
<% end %>
