<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mstudents.each do |mstudent| %>
      <tr>
        <td><%= mstudent.fname %></td>
        <td><%= mstudent.lname %></td>
        <td><%= link_to 'Show', mstudent %></td>
        <td><%= link_to 'Edit', edit_mstudent_path(mstudent) %></td>
        <td><%= link_to 'Destroy', mstudent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new student', new_mstudent_path %>
