<!DOCTYPE html>
<html>
<head>
  <title>Food</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body id"main">

	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
	  <%= link_to('Interventions', interventions_path) %>
	  <%= link_to('Students', students_path) %>
	  <%= link_to('My Account', edit_user_registration_path) %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>


</body>
</html>
